<h5 class="titol-login">INICI SESSIÓ</h5>
<div style="width:20%"></div>
<div style="float:left;width:60%">
  <form class="login-form">
    <div style="text-align:center; width:60%">
      <mat-form-field class="login-full-with">
        <mat-label>Usuari</mat-label>
        <input matInput placeholder="Biel|Francesc">
      </mat-form-field>

      <mat-form-field class="login-full-with">
        <mat-label>Contrassenya</mat-label>
        <input matInput placeholder="Password">
      </mat-form-field>

  </form>

  <input class="boto-endevant" type="button" value="Endevant">
 </div>
<div style="width:20%"></div>

