<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h5 class="titol-login">INICI SESSIÓ</h5>
    <form class="login-form">
      <mat-form-field class="login-full-with">
        <mat-label>Usuari</mat-label>
        <input matInput placeholder="Biel|Francesc">
      </mat-form-field>

      <mat-form-field class="login-full-with">
        <mat-label>Contrassenya</mat-label>
        <input matInput placeholder="Password">
      </mat-form-field>
    </form>

    <input class="boto-endevant" type="button" value="Endavant">
  </div>
  <div class="col-md-2"></div>
</div>
