<div style="width: 70%;margin:0 auto" *ngIf="dataSource!=null">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let p of dataSource">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{p.dnom}}
        </mat-panel-title>
        <mat-panel-description>
          {{p.est}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Accions</mat-label>
        <mat-select>
          <mat-option value="option"></mat-option>
          <mat-option value="option">Predisseny</mat-option>
          <mat-option value="option">Desenvolupament</mat-option>
          <mat-option value="option">FTP</mat-option>
          <mat-option value="option">Hosting</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button color="primary">Primary</button>
    </mat-expansion-panel>
    </mat-accordion>
  </div>
