/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
}

.btnnuevo {
  float: right;
  margin-top: 25px !important;
}

.espai_logo_lb {
  padding-left: 300px;
  padding-bottom: 50px;
}
.text_logo {
  color: #F49110;
  font-size:42px;
}

.text_links {
  color: #F49110;
}

.eslogan_logo{
    color:white;
}

.footer_apiview {
  background: #141414;
  padding-top: 50px;
}

.footer-copyright {
  background: #F49110;
}
.links {
  text-align: center;
  color: white;
}
footer .row {
  margin-right: 0;
  margin-left: 0;
}
.inputang {
    border:none;
}
