<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
<footer class="footer_apiview">
  <!--footer text-->
  <div class="espai_logo_lb">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-2">
      </div>

      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text_logo font-weight-bold">LBWEBS</h5>
        <p class="eslogan_logo">Creació i comunicació</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text_links font-weight-bold">Enllaços</h5>
        <a class="links" [routerLink]="['/acces']">Accés</a>

        <a class="links" [routerLink]="['/mail']">Mail</a>
      </div>

      <div class="col-md-2">
      </div>
      <!-- Grid column -->

    </div>
      <!-- Grid row -->

    </div>
  <!-- Footer Text -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://www.lbwebs.com" target="_blank"> LBWEBS </a>
  </div>
  <!-- Copyright -->
</footer>
